<html>
    <head>
      <meta charset="UTF-8">
      <title>aysnc_metrics</title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    </head>
    <body class="bg-light">
      <div class="container">
            <div class="d-flex flex-row-reverse bd-highlight">
                <div class="p-2 bd-highlight"><a class="nav-link active" aria-current="page" href="http://github.com/amenezes/async_metrics">
                    <button type="button" class="btn btn-link">GitHub</button>
                </a></div>
                <div class="p-2 bd-highlight"><a class="nav-link active" aria-current="page" href="http://github.com/amenezes/async_metrics/issues">
                    <button type="button" class="btn btn-link">Issues</button>
                </a></div>
            </div>
      </div>
       <div class="container">
            <div class="shadow-sm p-3 mb-5 bg-body rounded">
            <div class="d-flex p-2 bd-highlight">
                <h2 class="fs-3 fw-bolder">async_metrics <span class="badge bg-dark">{{version}}</span></h2>
            </div>
            <br />
            <div class="container">
                <div class="bd-callout bd-callout-info">
                    <h5 id="conveying-meaning-to-assistive-technologies"><p>Endpoints</p></h5>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped"></table>
                </div>
            </div>
        </div>
      <script>
        async function start() {
            let response = await fetch('{{url}}');
            let table = document.querySelector("table");
            let links = await response.json();

            for (let element of links) {
                let row = table.insertRow();
                for (key in element) {
                    let cell = row.insertCell();
                    let text = document.createTextNode(element[key]);
                    cell.appendChild(text);
                }
            }

            let thead = table.createTHead();
            let row = thead.insertRow();
            for (let key of Object.keys(links[0])) {
                let th = document.createElement("th");
                let text = document.createTextNode(key);
                th.appendChild(text);
                row.appendChild(th);
            }
        }
        start();
      </script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    </body>
    </html>